@use "styles/colors" as *;
.container {
  grid-area: playing-bar;
  background-color: #181818;
  border-top: 1px solid #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: $grey;
}
.player {
  &_control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 772px;
    width: 40%;

    &_btns {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      place-items: center;
      grid-gap: 5px;
      svg {
        vertical-align: middle;
      }
    }
    &_btn {
      padding: 0 8px;
      transition: all 0.25s;
      &:hover {
        color: $white;
      }
    }
    &_play {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      color: $black;
      background-color: $white;
      border-radius: 50%;
    }
    &_active {
      position: relative;
      color: $primary;
      &::after {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 4px;
        height: 4px;
        background-color: $primary;
        border-radius: 50%;
      }
    }
  }
}
.playback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &_progress {
    width: 100%;
  }
  &_time {
    color: $grey;
    min-width: 40px;
    text-align: center;
    font: {
      weight: 500;
      size: 12px;
    }
  }
}
.subcontainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  place-items: center;
  grid-gap: 10px;
}
.song {
  display: flex;
  flex-direction: column;
  & > div {
    &:nth-child(1) {
      color: $white;
    }
    &:nth-child(2) {
      font-size: 12px;
    }
  }
}
.volume {
  width: 50px;
}
