@use "./colors" as *;
@import "text";
@import "distances";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  cursor: pointer;
  border-radius: 20px;
}

.ant-slider {
  &:hover {
    .ant-slider {
      &-rail {
        background-color: hsl(0, 0%, 33%);
      }
      &-track {
        background-color: $primary;
      }
    }
  }
  &-track {
    background-color: $primary;
  }
  &-rail {
    background-color: #535353;
  }
  &-handle {
    border: none;
  }
}
.ant-dropdown-menu {
  background-color: $black;
  &-item {
    color: $white;
    &:hover {
      background-color: #3e3e3e;
    }
  }
}
a {
  color: $grey;
  &:hover {
    color: $white;
  }
}
